* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    height: 100px;
}

.col, .col-2, .col-3{
    flex: 1;
    font-size: 20px;
    color: white;
    background-color: rgb(84, 153, 161);
    padding: 20px;
    margin: 10px 10px;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}